<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>DT207G - Moment 1</title>
</head>
<body>

    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="/" class="current">Startsida |</a></li>
                    <li><a href="/addcourse">Lägg till kurser |</a></li>
                    <li><a href="/about">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
    <h2>Kurser</h2>
    <% if (error) { %><p><%= error %></p><% } %>

    <table>
        <thead>
            <tr>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Kursplan</th>
                <th>Progression</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach(course => { %>
                <tr>
                    <td><%= course.coursecode %></td>
                    <td><%= course.coursename %></td>
                    <td><a href="<%= course.syllabus %>" target="_blank">Länk</a></td>
                    <td><%= course.progression %></td>
                    <td><a href="/delete/<%= course.id %>" class="delete-btn" onclick="return confirm('Är du säker?')">X</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>

    
</body>
</html>